.header {
  width: 100%;
  height: 60px;
  background-color: #24292e;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 200px;
  height: 0;
  background-color: white;
  border-radius: 5px;
  position: fixed;
  right: 0;
  top: 50px;
}

.menu-activated {
  height: 300px;
  border: 1px solid black;
}